<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cet.alokrabi.allgovtjobs_ssc_rrb_mentor_tutor">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.cet.alokrabi.allgovtjobs_ssc_rrb_mentor_tutor.Splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.cet.alokrabi.allgovtjobs_ssc_rrb_mentor_tutor.FirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.cet.alokrabi.allgovtjobs_ssc_rrb_mentor_tutor.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name="com.cet.alokrabi.allgovtjobs_ssc_rrb_mentor_tutor.VideoPlayer" />
        <activity
            android:name="com.cet.alokrabi.allgovtjobs_ssc_rrb_mentor_tutor.YouTubeVideoPla"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout|uiMode" />
        <activity android:name="com.cet.alokrabi.allgovtjobs_ssc_rrb_mentor_tutor.NoInternet" />
        <activity android:name="com.cet.alokrabi.allgovtjobs_ssc_rrb_mentor_tutor.Settings" />
        <activity android:name="com.cet.alokrabi.allgovtjobs_ssc_rrb_mentor_tutor.MainActivity" />
        <activity android:name="com.cet.alokrabi.allgovtjobs_ssc_rrb_mentor_tutor.PrivacyPolicy"></activity>
    </application>

</manifest>